[advisories]
version = 2
ignore = []
yanked = "warn"

[licenses]
version = 2
allow = [
    "MIT",
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "ISC",
    "Unicode-3.0",
    "Zlib",
]

[bans]
version = 2
multiple-versions = "warn"
wildcards = "allow"

[sources]
version = 2
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
